addict
asttokens
attrs
blinker
certifi
charset-normalizer
click
comm
ConfigArgParse
contourpy
cycler
dash
decorator
exceptiongroup
executing
fastjsonschema
Flask
fonttools
idna
importlib_metadata
ipython
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_core
jupyterlab_widgets
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
narwhals
nbformat
nest-asyncio
numpy
open3d
opencv-python
packaging
pandas
parso
pillow
platformdirs
plotly
prompt_toolkit
ptyprocess
pure_eval
Pygments
pyparsing
pyquaternion
python-dateutil
pytz
PyYAML
requests
retrying
scikit-learn
scipy
six
stack-data
threadpoolctl
tqdm
traitlets
typeguard
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
widgetsnbextension
zipp
